.navbar {
  width: 100%;
  display: flex;
  position: sticky;
  top: 0;
  margin-bottom: .5rem;

  .navbar-list-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #666;

    .navbar-list-item {
      width: 10%;
      display: flex;
      align-items: center;
      justify-content: center;
      list-style-type: none;
      text-transform: capitalize;
      
      & > a {
        text-align: center;
        width: 100%;
        padding: .8rem 0;
        text-decoration: none;
        color: white;

        &:hover {
          background-color: #111;
        }
      }
    }
  }
}